<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Basics<br></h3>

In [1]:
# What is your name! print your name! 
# Only use one print function
print("Ganga Sakthivel")

Ganga Sakthivel

* `()` <= `Parentheses`
* `''` <= `Single Quotes`
* `""` <= `Double Quotes`
* `\n` <= `New_line `
* `#` <= `Used to comment inside code`

In [2]:
# define variables named as with values: mukesh=7, z=6, rohan=5, longitude=4
mukesh = 7
z = 6
rohan = 5 
longitude = 4

In [3]:
# print required variable
# output - 5
number = 5
print(number)

5

Variable Assignment:
**`Variable_Name = Value`**

Variables Naming Rules:
* `Python is case-senstive` => x=5 is different from X=5 (one is lowe and other is upper case)
* `var name can't start with special character except underscore(_)` => _X = 7 is `valid`, @X = 7 is `invalid`
* `var name can't start with number` => 9X = 7 is `invalid`, X9 = 7 is `valid`
* can't use `keywords` as a variable name
    *

# **`Declaring a Variable`** <br>

In [4]:
# declare 4 variables with values as: ur_age 21,ur_weight 50.6, ur_first_name = 'Mukesh',ur_last_name = "Manral"
ur_age = 21
ur_weight = 50.6
ur_first_name = 'Mukesh'
ur_last_name = 'Manral'

# **`Data Type(Type of variable)`**

| Name | Type | Description |
| ---- | ---- | ----| 
|Integers | int | Integer number, like 34,-56 ...|
|Float | float | Decimal number, like 3.4,-5.6 ...|
|String| str | Ordered sequence of characters, like 'your name' |
|Boolean |bool |Logical values indicating True or False only |

In [5]:
# print type of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(type(ur_age))
print(type(ur_weight))
print(type(ur_first_name))
print(type(ur_last_name))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [6]:
# print values of ur_age,ur_weight,ur_first_name,ur_last_name variables
print(ur_age, ur_weight, ur_last_name, ur_first_name)

21 50.6 Manral Mukesh

In [7]:
# make 2 variables with values as: ur_first_name 'Mukesh',ur_last_name'Mukesh' 

# make a variable TrueOrFalse which will have comparison of variables ur_last_name == ur_first_name 
ur_first_name = 'Mukesh'
ur_last_name = 'Mukesh'
comparison = ur_last_name == ur_first_name
print(comparison)

True

In [8]:
# define a variable name "x" and assign value 777 and print it
x = 777
print(x)

777

* To view some data on screen, python have `print` function
    * Using `print` function we can control view on output screen

`Operators`: Symbols that represent mathematical or logical tasks 

Example:<br>
`700` `+` `77`<br>
* `+` <= Operator
* `700` & `77` <= Operands

In [2]:
# Initialize variables [x,y,z,zz] with values 
## x as 7 =>int ,
## y as 77 =>int, 
## z as 77.7 => float, 
## zz as 'Hi' => string
x = int(7)
y = int(77)
z = float(77.7)
zz = 'Hi'

# **`Arithmetic Operators`**

In [3]:
# add x and z
print(x + y)

84

In [4]:
# subtract z and y
print(z - y)

0.7000000000000028

In [5]:
# Multiply x and z
print(x * z)

543.9

In [7]:
# Exponent (raise the power or times) x times z
print(z ** x)

17098071607986.627

In [8]:
# division on x and z
print(x / z)

0.09009009009009009

`//` => divides and returns integer value of quotient
* It will dump digits after decimal

In [13]:
# floor division(ignores decimal) on x and z (gives quotient)
import math
floor_Value = math.floor(x)
floorValueTwo = math.floor(z)
print(floor_Value, floorValueTwo)

7 77

In [14]:
# Modulo(gives remainder) on x and z
print(x % z)

7.0

# **`Comparison Operators`**

In [15]:
# comapre and see if x is less then z 
# can use '<' symbol

compareVar = x < z
print(compareVar)

True

In [16]:
# check the type of above comaprison where it says comapre and see if x is less then z 
print(type(compareVar))

<class 'bool'>

* `Bool` => takes two values, either `True` or `False`

In [17]:
# compare and see if x is less then or equall to z
# can use '<=' symbol
print(x <= z)

True

In [18]:
# comapre and see if x equall to z
# can use '==' symbol
print(x == z)

False

In [20]:
# comapre and see if x is greater than z
# can use '>' symbol
print(x > z)

False

In [21]:
# comapre and see if x is greater than or equall to z
# can use '>=' symbol
print(x >= z)

False

In [22]:
# comapre and see if x is Not equall to z
# can use '!=' symbol

print( x != z)

True

# **`Logical Operators`**

In [23]:
# compare if 108 is equall to 108, 21 is equall to 21 using logical and 
# equall to => '=='
# logical and => and
print(108 == 108)
print(21 == 21 )
# in and both condition must be True to get a True

True
True

In [24]:
# how above condition can give False as output show all those conditions
print(108 != 108)
print(21 != 21)

False
False

In [27]:
# compare if 108 is equall to 108, 21 is equall to 11 using logical or
# equall to => '=='
# logical or => or
print(108 == 108 or 21 == 21 or 108 <= 11)
# in or Only one condition need to be True to get a True

True

In [31]:
# this is for you to understand it
(108 == 108) or (21 == 11) or (108 <= 11)

True

# **`if`--- `else`** => to handle single condition <br>
# **`if`--- `elif`--- `else`** => to handle Multiple condition

`Observe in Python code:` 
* `if` => statement in python
* `else` => statement in python
* `:` => colon => denotes start of if block i.e. any line written after colon belong to if condition
* `....` => see then as indentation i.e. 4 spaces => indentation indicates all code belong to only if and then another indentation indicates code for only else block

In [29]:
# make variable with value as : money 100000

# see output of money > 2000 
money = 100000
if money > 2000:
    print(money)

In [30]:
# assign money variable value of 10000
##### say you have this much ammount in your account
money = 10000

# start of if condition
# if money is greater then 1000 which is data science course free
if money > 1000:
    print("Date Scinece course is FREE")
else:
    print("You have LESS AMOUNT in your bank account")
# if money > 1000 is false i.e. you have less money then 1000 in your account then else will work for now only if is workin

Date Scinece course is FREE

In [1]:
# take a test_score variable with 80 in it.
test_score = 80

# if test_score greater then 80 then print A grade
if test_score > 80:
    print("Grade 'A'")
elif test_score > 60 & test_score < 80:
    print("Grade 'B'")
else:
    print("Nothing for you")

# elif test_score greater then 60 and less then 80 print B grade
# else print Nothing for you

Grade 'B'

# **`Python Loops`**

In [39]:
"""
for iterating_variable in sequence:
    statement(s)
"""

'\nfor iterating_variable in sequence:\n    statement(s)\n'

0
1
2
3
4
5
6
7
8
9

In [1]:
# print 'I love sports' 10 times using for loop
for i in range(10):
    print('I love Sports')

I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports
I love Sports

`10` => `stoping criteria` of, for loop

* `in` => keyword
* `sequence` => on which to itterate
* `:` => colon , start of for loop

`!=` = not equall to => `behaves as a stoping criteria`

In [5]:
# Syntax of while loop
"""
while comparison:
    statements(s)
"""

'\nwhile comparison:\n    statements(s)\n'

In [8]:
# while loop

# save 0 in variable number

number = 0
while number <= 10:
    print(number)
    number += 1

# print till 10 using while loop

0
1
2
3
4
5
6
7
8
9
10

* Initialized variable `number = 0` and then increment it's value in each iteration
* Loop will only continue to run only if value is less than 10

# **`Type of Jump Statements`** <br>
`Break Statement`
`Continue Statement`

# **`Break Statement`**

In [10]:
# example that uses break statement in a for loop

# take range(10) and print 'The number is' + value
for x in range(10):
    print('The number is ' + str(x))
    if number == 5:
        break
# break when num equals 5

The number is 0
The number is 1
The number is 2
The number is 3
The number is 4
The number is 5
The number is 6
The number is 7
The number is 8
The number is 9

# **`Continue Statement`**

In [11]:
# Using same `for loop program` as in Break Statement section above
# Use a continue statement rather than a break statement

# take range(10) and print 'The number is' + value
for x in range(10):
    print("The number is ", str(x))
    if x == 5:
        continue
# continue when num equals 5

The number is  0
The number is  1
The number is  2
The number is  3
The number is  4
The number is  5
The number is  6
The number is  7
The number is  8
The number is  9

# **`String Manipulation`**

In [49]:
string_ = '' or "" or """ """

In [17]:
# define a string variable with "We are creating next generation data science eco-system at CollegeRanker"

myString = 'we are creating next generation data scinece eco-system at CollegeRanker'

In [3]:
# Find length of string including spaces
print(len(myString))

71

In [4]:
# Access characters in a string with indexing i.e string[0]
print(myString[0])

W

In [5]:
# Access characters with negative indexing i.e string[-1]

print(myString[-1])

r

# String Slicing

In [6]:
# select string from first to 6th element i.e string[:6]

print(myString[:6])

We are

In [7]:
# select string from 7th to negative 10th element i.e string[7:-10]

print(myString[7:-10])

creating next generation data scinec eco-system at Col

Count of a particular `character` in a string

In [10]:

chatToBe = 'e'
count = myString.count(chatToBe)
print(f"The character '{chatToBe}' appears '{count} ' times in the string")

The character 'e' appears '12 ' times in the string

Count of a particular `sub-string` in a string

In [12]:
myString = 'We are creating next generation data science eco-system at CollegeRanker'
substring = 'data'
position = myString.find(substring)
print(position)

32

Find a substring in string using `find` and `index` function

In [11]:
# .find() => if present it will return starting index, not found then it will return -1
# .index() => if present it will return starting index, not found then it will give error
charToBeFound = myString.find('e')
print(charToBeFound)

1

In [15]:
### Checking whether string `startswith` or `endswith` a particular substring or not
myString = 'We are creating next generation data science eco-system at CollegeRanker'
print(myString.endswith("CollegeRanker"))
print(myString.startswith('are'))

True
False

In [12]:
### Converting string to upper case ###

print(myString.upper)

<built-in method upper of str object at 0x0000016DEC3821B0>

In [18]:
### Converting only first character of string to upper case
print(myString.capitalize())

We are creating next generation data scinece eco-system at collegeranker

In [20]:
### Checking if string is in lower case or upper case

print(myString.isupper())
print(myString.islower())

False
False

In [21]:
### Checking if string is digit, alpabetic, alpha-numeric

print(myString.isalnum())
print(myString.isalpha())
print(myString.isdigit())

False
False
False

In [25]:
# assign "C++ is easy to learn" to a new_str variable

new_str = "C++ is easy to learn"

In [26]:
### Replace C++ with Python
sstr = new_str.replace('C++', 'python')
print(sstr)  # Output: 'python is easy to learn'

python is easy to learn

In [1]:
### Use Split function on new_str ###
print(new_str.split)

NameError: name 'new_str' is not defined

# **`Python Functions`**

In [76]:
"""
def function_name():
    stetement(s)
"""

'\ndef function_name():\n    stetement(s)\n'

In [4]:
# define a function with welcome_message(name) and body 'Welcome to Functions !!!'

def welcome_message():
  {
     print("Welocome to functions!!!")
}

welcome_message()

Welocmem to functions!!!

In [6]:
# call a function with your name
print("Ganga" )
welcome_message()

Ganga
Welocmem to functions!!!

* `def` Keyword marking start of function
* `function name` to uniquely identify function
    * `function naming` follows same `rules of writing identifiers`
* `parameters`(arguments) to pass values to a function => totally optional
* `()` paranthesis
* `colon (:)` start of function
* `documentation string`(docstring) describe's what function does => totally optional
* `return statement` returns a value from function => totally optional
* inside colon is `function definition` it should always be present before function call or get an error

In [8]:
# Write a function to add two number which are as 3 and 4
def add_numbers(numberOne, numberTwo):
        total = numberOne + numberTwo
        print(total)

add_numbers(3, 4)
   

# in total variable store adition of 3 + 4
# print total variable

7

# ***`Positional Arguments`*** 
Most arguments are identified by their position in function call
* Say `print(x,y)` will give different results from `print(y,x)`

What ever sequence is given while defining a function values must be taken in that sequence only
* Otherwise use argument name **`(keyword arguments)`** to take values
* We first define `positional argument` and then `keyword arguments`

In [9]:
## Create substraction_function(small_number,large_number) and return difference between large_number and small_number

def substraction_function(small_number, large_number):
    result = small_number - large_number
    print(result)

232

In [10]:
# pass arguments in right order

substraction_function(589, 264)

325

In [84]:
# always pass arguments using there name(keyword arguments) then order does not matter

# ***`Scope of Variables`*** means that part of program where we can access particular variable
* `Local Variable` => variables defined inside a function and can be only accessed from inside of that particular function
* `Global Variable` => variables defined outside a function and can be accessed throughout program

Let's define a global variable, `"global_variable"` outside function
* We will return its value using a function `"randome_function"` and see that we would be able to access its value using that function also

In [11]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # accessing variable which is outside of this function
    return global_variable

In [12]:
random_function()

'variable outside of function'

`See we can acess the data of golbal variable from Inside of the Function`

# **`=> Let's see what will happen if we try to change value of global variable from Inside of the Function`**

In [88]:
#### Observe every output from here onwords #####
# defining a global variable
global_variable = 'variable outside of function'

# defining function
def random_function():
    # changing value of global variable from inside of the function
    global_variable = 'changing variable outside of function from inside of function'
    # accessing variable which is outside of this function
    return global_variable

In [13]:
print(random_function())
print(global_variable)

variable outside of function
variable outside of function